<ul class="fruits">
    <li *ngFor="let fruit of fruits">
      <a routerLink="/detail/{{fruit.id}}">
        <span class="badge">{{fruit.id}}</span> {{fruit.name}}
      </a>
      <button class="delete" title="delete fruit"
      (click)="delete(fruit)">x</button>
    </li>
  </ul>
  <div>
    <label>Fruit name:
      <input #fruitName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(fruitName.value); fruitName.value=''">
      add
    </button>
   
  </div>